html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: Arial, sans-serif;         
    color: #ffffff;         
    text-align: center;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: rgb(255, 255, 255);
    z-index: -1;
    position: relative;
  }
  
  .logo {
    width: 100px;
    margin: 0 auto;
    transition: filter 0.3s ease-in-out;
    
  }
  div#root{
    position: relative;
    z-index: -1000;
  }
  
  

 

  
  @media (min-width: 768px) {
    body {
      padding: 2rem;
    }
  
    .logo {
      width: 150px;
    }
  
 
  
    .subtitle {
      font-size: 1.2rem;
      color: #cccccc; 
    }
  }
  
  @media (min-width: 1024px) {
    #root {
      max-width: 1280px;
      z-index: -100;
      position: relative;
    }
  
    .logo {
      width: 200px;
    }
    
  
    
  
    .subtitle {
      font-size: 1.5rem;
    }
  }
  